@model Common_Layer.Models.ViewModels.FertilityVM

<header class="blue-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Fertility")" class="btn"><i class="bi bi-chevron-left left-arrow"></i></a>
            <button class="navbar-toggler nav-button" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>
            </div>
        </div>
    </nav>
    <img class="merck-img" src="~/images/MerckFertilidad.JPG" />
</header>


    <div class="blue-color">
        <div class="row justify-content-center mx-0">
            <div class="col-1"></div>
            <div class="col-7 offset-1 text-center align-self-center nav-button">Fin De Consulta</div>
            <div class="col-2">               
            </div>

            <div class="curved-top-border">
            </div>
        </div>
    </div>

  <div class="container">
      <div class="row">
        <h1 class="blue-text-aligned">GRACIAS POR SU CONSULTA, NOS ESTAREMOS COMUNICANDO CON USTED A LA BREVEDAD</h1>
      </div>
  </div>

<a id="clinicButton" class="btn btn-danger col-6 offset-3 p-3 my-5" href="@Url.Action("Index","Fertility")">Volver al Inicio</a>

<div id="loadingSpinner" class="loading-spinner"></div>





