@model ProyectoMerck.Models.FertilityVM

<header class="blue-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Fertility")" class="btn"><i class="bi bi-chevron-left left-arrow"></i></a>
            <button  class="navbar-toggler nav-button" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>
            </div>
        </div>
    </nav>
    <img class="merck-img" src="~/images/MerckFertilidad.JPG" />
</header>

@using (Html.BeginForm("CalculateFertility", "Fertility", FormMethod.Post, new { id = "CalculateFertilityForm" }))
{
    <div class="blue-color">
        <div class="row justify-content-center mx-0">
            <div class="col-1"><i class="bi bi-chevron-left chevron-size"></i></div>
            <div class="col-7 offset-1 text-center align-self-center nav-button">Formulario</div>
            <div class="col-2 text-end">
                    <i class="bi bi-chevron-right chevron-size"></i>
                </div>

            <div class="curved-top-border">
                </div>
        </div>
    </div>

    <div class="container">

    <div class="white">
        <div style="padding-top: 4em" class="row justify-content-center">
            <div class="col-1 d-flex justify-content-center mx-5">
                <i class="bi bi-person-standing-dress d-flex align-items-center form-icon-violet"></i>
            </div>
            <div class="col-4">
                <row>
                    <p class="form-violet-text">Edad actual</p>
                </row>
                <row>

                    @Html.DropDownListFor(model => model.ActualAge, Enumerable.Range(12,45).Select(age =>
                new SelectListItem() {
                Value = age.ToString(),
                Text = age.ToString()
                })
                , new {@class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example"})

                </row>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-center row-white-padding">
        <div class="col-1 d-flex justify-content-center mx-5">
            <i class="bi bi-calendar-check d-flex align-items-center pink-icon"></i>
        </div>
        <div class="col-4">
            <row>
                <p class="pink-text-aligned">Edad primera menstruacion</p>
            </row>
            <row>
                @Html.DropDownListFor(model => model.FirstAge,
            Enumerable.Range(12,45).Select(age => new SelectListItem() {
            Text = age.ToString(),
            Value = age.ToString()
            }
            ) , new {@class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example"})
            </row>
        </div>
    </div>



    </div>



    <div class="text-center d-flex justify-content-center">
        <button id="clinicButton" class="btn col-7 p-1 my-5 border-light submit-button">Iniciar</button>
    </div>
}

<div id="loadingSpinner" class="loading-spinner"></div>



