@model ProyectoMerck.Models.FertilityVM

<header style="background-color:#2EBDCD">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Fertility")" class="btn"><i style="color: white; font-size: 1.5em" class="bi bi-chevron-left"></i></a>
            <button style="color: white; font-size: 2em" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="color:white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <img style="display:block; margin-left:auto; margin-right:auto" src="~/images/MerckFertilidad.JPG" />
</header>


<div style="background-color:#2EBDCD;">
    <div class="row justify-content-center">
        <div class="col-1"><i style="color: white; font-size: 2em; opacity:0.8" class="bi bi-chevron-left"></i></div>
        <div class="col-7 offset-1 text-center align-self-center" style="color: white; font-size: 2em">Indicador</div>
        <div class="col-2">
            <i style="color: white; font-size: 2em; opacity:0.8" class="bi bi-chevron-right"></i>
        </div>

        <div style="background-color:white; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px">
        </div>
    </div>
</div>

  <div class="container-fluid">
      <div class="row">
          <p>Las mujeres nacen con una reserva de óvulos finita, alrededor de un millón. Desde el
              nacimiento, ese número comienza a disminuir progresivamente. Se alcanza la pubertad con
              unos 300.000 y en cada ciclo menstrual, por más que uno "ovule" un solo óvulo, muchos
              son reclutados y se "pierden".
          </p>
          <p>A medida que las mujeres son más grandes de edad, esa pérdida de óvulos se acelera, pero
              además existe un factor agregado que es que los óvulos empiezan a "envejecer", lo
              que se traduce en posibles daños en su estructura genética. Por eso luego de cierta edad
              se produce una caida en la tasa de fertilidad, un aumento en la tasa de abortos, y también un aumento
              del número de embarazos con aneuploidías (  alteraciones en el número de cromosomas  )
              que pueden generar bebes con aneuploidías ( problemas de cromosomas ) o bien abortos debido a
              un problema de cromosomas incompatible con la vida.
          </p>
          <p>Cuando una mujer decide preservar su fertilidad, a través de la criopreservación
              de óvulos, detiene este avance y deterioro de su calidad ovocitaria, que queda
              "congelado" al riesgo del momento en que se produjo la congelación.
          </p>
          <p>Es por eso que te recomendamos consultar con tu médico de cabecera para que pueda
              asesorarte de estos temas, para que pueda planificar tu fertilidad futura, y que si
              algun día decidís avanzar con un embarazo tengas toda la información necesaria
          </p>
      </div>


    <div class="text-center d-flex justify-content-center">
        <a class="btn col-7 p-1 my-5 border-light" style="color:white; border-radius: 50px; background-color:darkcyan;" href="@Url.Action("Clinics", "Fertility")">Contactar Centro</a>
    </div>

  </div>





