@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = null;
    var trackingId = Configuration.GetSection("GoogleAnalytics:TrackingId").Value;
    var mapKey = Configuration["MapKey"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=@trackingId"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@trackingId');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoMerck</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

<body class="d-flex align-items-center justify-content-center" style="background-color: #2EBDCD; height: 100vh; margin: 0;">
    <main role="main">
        <div>

            <img class="mx-auto" style="display:block; " src="~/images/MerckFertPresentation.JPG" />

            <br />

            <a class="btn col-11 offset-1 p-1 my-5 border-light " style="color:white; border-radius: 50px; background-color:darkcyan" href="@Url.Action("Index","Fertility")">Comenzar</a>


        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>


