html {
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  box-sizing:border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.merck-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.nonselected-clinic {
    color: #8C92AC;
    background-color: #E4E7F8;
    border-radius: 10px;
    font-size: 4em;
    cursor: pointer;
}

.selected-clinic {
    color: white;
    background-color: #EC3B96;
    border-radius: 8px;
    font-size: 4em;
    box-shadow: 5px 5px 5px gray;
}

.hidden-icon {
    display: none;
}

.visible-icon {
    display: block;
}

.loading-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .loading-spinner::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        margin: 10px auto;
        border-radius: 50%;
        border: 6px solid transparent;
        border-top: 6px solid #EA3B95;
        animation: spin 1s linear infinite;
    }

@media only screen and (max-width: 767px) {
    .loading-spinner {
        width: 80vw;
        height: 50vh;
        padding: 100px; 
    }

        .loading-spinner::after {
            width: 30px; 
            height: 30px;
            border: 20px solid transparent;
            border-top: 20px solid #EA3B95;
        }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

