html {
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  box-sizing:border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.merck-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.nonselected-clinic {
    color: #8C92AC;
    background-color: #E4E7F8;
    border-radius: 10px;
    font-size: 4em;
    cursor: pointer;
}

.selected-clinic {
    color: white;
    background-color: #EC3B96;
    border-radius: 8px;
    font-size: 4em;
    box-shadow: 5px 5px 5px gray;
}

.hidden-icon {
    display: none;
}

.visible-icon {
    display: block;
}

.loading-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .loading-spinner::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        margin: 10px auto;
        border-radius: 50%;
        border: 6px solid transparent;
        border-top: 6px solid #EA3B95;
        animation: spin 1s linear infinite;
    }

.clinic-container{
    height: 6rem;
    border-radius: 10px;
    background-color: #583B93;
}

.clinic-container-error {
    height: 6rem;
    border-radius: 10px;
    background-color: red;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.blue-color {
    background-color: #2EBDCD
}

.left-arrow {
    color: white;
    font-size: 1.5em;
}

.nav-button {
    color: white;
    font-size: 2em;
}

.white{
    color: white;
}

.chevron-size {
    color: white;
    font-size: 2em;
    opacity: 0.8;
}

.curved-top-border {
    background-color: white;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    height: 50px;
}

.form-icon-violet {
    color: #403575;
    background-color: #E4E7F8;
    border-radius: 3px;
    font-size: 4em;
}

.form-violet-text {
    color: #403575;
    text-align: center;
}

.row-white-padding {
    padding-top: 2em;
    background-color: white;
}

.pink-icon {
    color: #E26DA2;
    background-color: #E4E7F8;
    border-radius: 3px;
    font-size: 4em;
}

.pink-text-aligned {
    color: #E26DA2;
    text-align: center;
}

.blue-text-aligned {
    text-align: center;
    color: #2EBDCD;
}

.submit-button {
    color: white;
    border-radius: 50px;
    background-color: darkcyan;
}

.presentation-background {
    background-color: #2EBDCD;
    height: 100vh;
}

.merck-pink-color {
    background-color: #EC3B96;
}

.white-center-aligned {
    color: white;
    text-align: center;
}

.bold-text{
    font-weight:bold;
}

.pinkish-icon {
    font-size: 3.6rem;
    color: #583B93;
    background-color: #E3E7F8;
    border-radius: 5px;
}

.pinkish-color {
    color: #583B93;
}

.pinkish-color-v2 {
    color: #EA3B95;
}

.pinkish-icon-v2 {
    font-size: 3.6rem;
    color: #EA3B95;
    background-color: #E3E7F8;
    border-radius: 5px;
}

.pointer-arrow {
    font-size: 3rem;
    cursor: pointer;
}